.layout {
    display: flex;
    margin: 90px;
    /* grid-template-columns: 1fr 5fr;
    column-gap: 1rem; */
  }
  .name {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .type {
    font-style: italic;
    margin-bottom: 0.5rem;
  }
  .heading {
    font-weight: bold;
  }
  .picture {
    max-height: 400px;
  }
  .col{
      font-style: italic;
    font-weight: bold;
  }
  .details{
    margin:60px;
  }