.container{
  margin: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
}
.card{
  justify-content: center;
  align-items: center;
  border-color: black;
}
.card img {
  max-height: 200px;  
}
